<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subtask</title>
</head>
<body>

<main>
    <div>
        <h2>Add Subtask</h2>

        <form th:action="@{/task/{taskID}/saveSubtask(taskID=${subtask.taskID})}" th:object="${subtask}" method="post">
            <input type="hidden" th:field="*{taskID}">

            <label>Name</label>
            <input type="text" th:field="*{subtaskName}" required>

            <label>Description</label>
            <input type="text" th:field="*{subtaskDescription}">

            <label>Planned Start Date</label>
            <input type="date" name="plannedStartDate" required>

            <label>Planned Finish Date</label>
            <input type="date" name="plannedFinishDate" required>

            <p>Assing employee</p>
            <div th:each="employee : ${taskEmployees}">
                <label>
                    <input type="radio"
                           th:field="*{employeeID}"
                           th:value="${employee.employeeID}">
                    <span th:text="${employee.employeeName}">
                   </span>
                </label>
            </div>

            <div>
                <button type="submit">Save</button>
                <a th:href="@{/task/{taskID}(taskID=${taskID})}">Cancel</a>
            </div>
        </form>
    </div>
</main>

</body>
</html>