<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <div class="login-container">
        <h2>Login</h2>

        <p th:if="${successMessage}" th:text="${successMessage}" class="success"></p>

        <form th:action="@{/postLogin}" method="post">
            <label>Username:</label>
            <input type="text" name="userName" required />

            <label>Password:</label>
            <input type="password" name="userPassword" required />

            <button type="submit">Login</button>
        </form>

        <p th:if="${error}" class="error">Invalid username or password</p>
    </div>
</main>

</body>
</html>