<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<h1>Your projects</h1>
<table>
    <tr th:if="${projects.isEmpty()}">You have no projects</tr>
    <tr th:if="${!projects.isEmpty()}">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>assignees</th>
        <th>planneddays</th>'
        <!--
        <th>start</th>
        <th>finish</th>
        -->
    </tr>

    <tr th:each="project: ${projects}">
        <td th:text="${project.projectID}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td>
            <div th:each="assignedEmployees: ${project.assignedEmployees}"
                 th:text="${assignedEmployees.employeeName}"></div>
            <br> <br>
        </td>
        <td th:each="timeslot: ${timeslots}">
            <div th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.plannedDays}">
                 <!--
                 th:text="${timeslot.differenceInDays}"
                 th:text="${timeslot.totalWorkhours}"
                 th:text="${timeslot.plannedStartDate}"
                 th:text="${timeslot.plannedFinishDate}"
                 th:text="${timeslot.actualFinishDate}" -->
            </div>
        </td>
        <!--
        <td th:each="timeslot: ${timeslots}">
            <div th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.differenceInDays}">
            </div>
        </td>
        <td th:each="timeslot: ${timeslots}">
            <div th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.totalWorkhours}">
            </div>
        </td>
        -->
    </tr>
</table>
</body>
</html>