<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<h1>Your projects</h1>

<div>
    <a href="/addProject">+ Add project</a>
</div>

<table>
    <tr th:if="${projects.isEmpty()}">You have no projects</tr>
    <tr th:if="${!projects.isEmpty()}">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Assignees</th>
        <th>Planned Days</th>
        <th>Planned Start Date</th>
        <th>Planned Finish Date</th>
        <th>Actual Finish Date</th>
        <th>Difference in days</th>
        <th>Total workhours</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="project: ${projects}">
        <td th:text="${project.projectID}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td>
            <div th:each="assignedEmployees: ${project.assignedEmployees}"
                 th:text="${assignedEmployees.employeeName}"></div>
            <br> <br>
        </td>
        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.plannedDays}">
            </div>
        </td>
        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.plannedStartDate}">
            </div>
        </td>
        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.plannedFinishDate}">
            </div>
        </td>

        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}">

                <div
                        th:if="${timeslot.actualFinishDate==null}"> Will be calculated later
                </div>

                <div th:unless="${timeslot.actualFinishDate==null}">
                    <div
                            th:text="${timeslot.actualFinishDate}">
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}">
            <div
                    th:if="${timeslot.differenceInDays == 0}"> Will be calculated later
            </div>

            <div th:unless="${timeslot.differenceInDays == 0}">
                <div
                        th:text="${timeslot.differenceInDays}">
                </div>
            </div>

            </div>
        </td>
        <td>
            <div th:each="timeslot: ${timeslots}"
                 th:if="${timeslot.timeslotID == project.timeslotID}"
                 th:text="${timeslot.totalWorkhours}">
            </div>
        </td>

    </tr>

</table>
</body>
</html>