<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<a th:href="@{/userOptions}">← Go back</a>
<br> <br>
<!-- tabellen, der viser det enkelte projekt -->
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Assignees</th>
        <th>Project Manager</th>
        <th>Planned Days</th>
        <th>Planned Start Date</th>
        <th>Planned Finish Date</th>
        <th>Total workhours</th>
    </tr>
    <tr>
        <td th:text="${project.projectID}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td>
            <div th:each="assignedEmployees: ${project.assignedEmployees}"
                 th:text="${assignedEmployees.employeeName}"></div>
            <br> <br>
        </td>
        <td th:text="${project.projectManager.employeeName}"></td>
        <td th:text="${project.timeslot.getPlannedDays}"></td>
        <td th:text="${project.timeslot.plannedStartDate}"></td>
        <td th:text="${project.timeslot.getPlannedFinishDate}"></td>
        <td th:text="${project.timeslot.totalWorkhours}"></td>
    </tr>
</table>
<br> <br> <br> <br> <br> <br>
<div th:if="${project.projectManager.employeeID == loggedInEmployee.employeeID}">
    <a th:href="@{/addTask/{projectID}(projectID=${project.projectID})}">+ Add task</a>
</div>
<!-- tabellen, der viser alle tasks -->
<table>
    <tr th:if="${project.tasks == null or project.tasks.isEmpty()}">There are no tasks for this project</tr>
    <tr th:if="${project.tasks != null and !project.tasks.isEmpty()}">
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Assignees</th>
        <th>Amount of subtasks</th>
        <th>Planned Days</th>
        <th>Planned Start Date</th>
        <th>Planned Finish Date</th>
        <th>Total workhours</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="task: ${project.tasks}">
        <td>
            <a th:href="@{/task/{taskID}(taskID=${task.taskID})}">View task →</a>
        </td>
        <td th:text="${task.taskID}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td>
            <div th:each="assignedEmployee: ${task.assignedEmployees}"
                 th:text="${assignedEmployee.employeeName}"></div>
            <br> <br>
        </td>
        <td th:text="${task.subtasks.size()}"></td>
        <td th:text="${task.timeslot.getPlannedDays}"></td>
        <td th:text="${task.timeslot.plannedStartDate}"></td>
        <td th:text="${task.timeslot.getPlannedFinishDate}"></td>
        <td th:text="${task.timeslot.totalWorkhours}"></td>
        <td>
            <div>
                <a th:href="@{/taskWorkhours/{taskID}(taskID=${task.taskID})}">Finalize</a>
            </div>
        </td>
        <td>
            <div th:if="${project.projectManager.employeeID == loggedInEmployee.employeeID}">
                <form th:action="@{/deleteTask/{taskID}(taskID=${task.taskID})}"
                      method="post"
                      onsubmit="return confirm('Are you sure you want to delete? This action can not be undone.');">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>